/* Add this to your existing CSS or create a new CSS file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial;
    font-weight: 600;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: auto;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.content {
    height: 50%;
    width: 100%;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
}

.create-account-form label {
    font-size: 15px;
}

.create-account-form input[type="text"],
.create-account-form input[type="password"],
.create-account-form textarea {
    margin-top: 10px;
    width: 280px;
    height: 40px;
    display: block;
}

.create-account-form input[type="submit"] {
    margin-top: 20px;
    width: 160px;
    height: 40px;
    background-color: rgb(36, 96, 128);
    color: rgb(224, 205, 205);
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.create-account-form input[type="submit"]:hover {
    background-color: rgb(24, 76, 108);
}

.create-account-form textarea {
    width: 280px;
    height: 80px;
    resize: vertical;
}

.create-account-form select {
    margin-top: 10px;
    width: 280px;
    height: 40px;
    display: block;
}

.creat-account {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
